*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: min(100% - 40px, 1680px);
}
img{
    width: 150px;
    height: 150px;
}
div{
    margin: 50px;
    float: left;
}
p{
    overflow: scroll;
    width:990px;
    height:300px;
    padding: 50px;
    clear: left;
}